<section class="d-flex align-items-center justify-content-end min-vh-100 bg-splash flex-column">
  <div class="d-flex justify-content-center align-items-center splash-title">
    <h1 class="bio-monster-family display-1 text-1 m-0">Budget App</h1>
  </div>
  <div class="d-flex flex-column gap-3 text-center w-100 px-3 justify-content-center splash-links">
    <%= link_to 'LOG IN', user_session_path, class: "btn btn-primary bg-main py-2 fs-5" %>
    <%= link_to 'SIGN UP', new_user_registration_path, class: "btn bg-transparent text-1 border-0 fs-5" %>
  </div>
</section>
