/* ---------------------- Colors ---------------------- */
$main: #3778c2;
$main-2: #2C609C;
$second: #5fb523;
$text-1: #434b54;
$text-2: #86898E;
$text-3: #989DA3;
$splash-bg: #F0F2F1;
$main-gradient: linear-gradient(to bottom, rgba(55,120,194,1) 0%, rgb(32, 72, 116) 90%);

/* ---------------------- Font Weight ---------------------- */
$thin-weight: 200;
$light-weight: 300;
$regular-weight: 400;
$medium-weight: 500;
$semibold-weight: 600;
$bold-weight: 700;
$extra-bold-weight: 800;
$black-weight: 900;

/* ---------------------- Proxima Nova Font Face ---------------------- */
@font-face {
	font-family: 'ProximaNova';
	font-style: normal;
	font-weight: $thin-weight;
	src: url("Fontspring-DEMO-proximanova-thin.otf") format('opentype');
}

@font-face {
	font-family: 'ProximaNova';
	font-style: normal;
	font-weight: $light-weight;
	src: url("Fontspring-DEMO-proximanova-regular.otf") format('opentype');
}

@font-face {
	font-family: 'ProximaNova';
	font-style: normal;
	font-weight: $medium-weight;
	src: url("Fontspring-DEMO-proximanova-medium.otf") format('opentype');
}

@font-face {
	font-family: 'ProximaNova';
	font-style: normal;
	font-weight: $semibold-weight;
	src: url("Fontspring-DEMO-proximanova-semibold.otf") format('opentype');
}

@font-face {
	font-family: 'ProximaNova';
	font-style: normal;
	font-weight: $bold-weight;
	src: url("Fontspring-DEMO-proximanova-bold.otf") format('opentype');
}

@font-face {
	font-family: 'ProximaNova';
	font-style: normal;
	font-weight: $extra-bold-weight;
	src: url("Fontspring-DEMO-proximanova-extrabold.otf") format('opentype');
}

@font-face {
	font-family: 'ProximaNova';
	font-style: normal;
	font-weight: $black-weight;
	src: url("Fontspring-DEMO-proximanova-black.otf") format('opentype');
}

/* ---------------------- Bio Monster Font Face ---------------------- */
@font-face {
	font-family: 'BioMonster';
	font-weight: normal;
	src: url('BioMonsters.otf') format('opentype');
}

/* ---------------------- Font Classes ---------------------- */
.bio-monster-family {
	font-family: 'BioMonster', 'cursive';
}

.proxima-nova {
	font-family: 'ProximaNova', 'sans-serif';
	font-weight: $regular-weight;
}

.proxima-nova-thin {
	font-family: 'ProximaNova', 'sans-serif';
	font-weight: $thin-weight;
}

.proxima-nova-light {
	font-family: 'ProximaNova', 'sans-serif';
	font-weight: $light-weight;
}

.proxima-nova-medium {
	font-family: 'ProximaNova', 'sans-serif';
	font-weight: $medium-weight;
}

.proxima-nova-semibold {
	font-family: 'ProximaNova', 'sans-serif';
	font-weight: $semibold-weight;
}

.proxima-nova-bold {
	font-family: 'ProximaNova', 'sans-serif';
	font-weight: $bold-weight;
}

.proxima-nova-extra-bold {
	font-family: 'ProximaNova', 'sans-serif';
	font-weight: $extra-bold-weight;
}

.proxima-nova-black {
	font-family: 'ProximaNova', 'sans-serif';
	font-weight: $black-weight;
}

/* ---------------------- Colors Classes ---------------------- */
.main {
	color: $main;
}

.bg-main {
	background-color: $main;
}

.bg-main-gradient {
	background: $main-gradient;
}

.bg-splash {
	background-color: $splash-bg;
}

.second {
	color: $second
}

.bg-second {
	background-color: $second;
}

.text-1 {
	color: $text-1;
}

.text-2 {
	color: $text-2;
}

.text-3 {
	color: $text-3;
}

@import "splash";